#clientes .slick-slide img {
    margin: 0 20px; /* Agrega un margen horizontal de 20px */
    padding: 0px;
    
    border: 2.5px solid rgb(221, 221, 229); /* Agrega un borde de 2px de ancho y de color azul */
  }


    
  .clientes-heading {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .clientes-heading h2 {
    font-size: 36px;
    font-weight: 700;
    color: #307da7;
  }
  