.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 50px;
  font-weight: bold;
  color: #333333;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.navbar-link {
  font-weight: bold;
  color: #307da7;
  text-decoration: none;
  border-bottom: 2px solid transparent; /* agrega una línea transparente al principio */
  transition: border-bottom 0.3s ease-in-out;
}

.navbar-link:hover {
 border-bottom: 2px solid #307da7;
 padding-bottom: 2.0px;
 
}



.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo img {
  width: 200px;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
}

.contact-bar {
  background-color: #307da7;
  color: #fff;
  display: flex;
  justify-content:end;
  align-items:flex-end;
  font-weight: bold;
  padding: 10px;
}

.contact-bar p {
  margin: 0;
}


